{% extends 'layout/base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 class="mb-4 text-center">Notification Details</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <p><strong>Content:</strong></p>
                        <p class="mb-3">{{ notification.content }}</p>
                        <p class="text-muted"><strong>Date:</strong> {{ notification.created_date.strftime('%d/%m/%Y
                            %H:%M') }}</p>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="{{ url_for('notifications') }}" class="btn btn-outline-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
